.userInfo {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 400px;
  min-width: 270px;
  margin-top: 50px;
  background-color: rgb(88, 252, 252);
  border: 1px solid blue;
  border-radius: 10px;
}
