@import "../../../../variables";
.usersList {
  display: flex;
  flex-flow: column;
  width: 100%;
  .usersList__item {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $list__item__border_color;
    border-radius: $main__border_radius;
    background-color: $list__item__background_color;
    &:hover,
    &:focus {
      cursor: pointer;
      background-color: $list__item__background_color__hover;
    }
    &:active {
      background-color: $list__item__background_color__active;
    }
    .usersList__item__img {
      max-width: 64px;
      border-radius: 5px;
    }
    .usersList__item__name {
      font-size: 16px;
      font-weight: 600;
    }
    .usersList__item__todo {
      color: grey;
    }
  }
}
