.usersList {
  display: flex;
  flex-flow: column;
  width: 100%;
  .user {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    border: 1px solid blue;
    border-radius: 10px;
    &:hover {
      cursor: pointer;
      background-color: rgb(74, 193, 223);
    }
    .user__img {
      max-width: 64px;
      border-radius: 5px;
    }
  }
}
