.layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;

  .users_searcher__block {
    display: flex;
    flex-flow: column;
    max-width: 400px;
    min-width: 270px;
    margin-top: 50px;
    margin-right: 10px;
    background-color: rgb(88, 252, 252);
    border: 1px solid blue;
    border-radius: 10px;
  }
}
