.layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;

  .user__info_block,
  .users__searcher_block {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 450px;
    min-width: 270px;
    margin-top: 50px;
  }
}
