%flex__column {
  display: flex;
  flex-flow: column;
}
.userData {
  @extend %flex__column;
  align-items: center;
  justify-items: flex-start;
  .userData__inline_block {
    display: inline-flex;
    align-items: flex-start;
    .userData__avatar {
      display: block;
      object-fit: contain;
      width: 150px;
      margin-left: 20px;
    }
    .userData__common_info {
      display: flex;
      padding-right: 20px;
      li {
        word-break: break-all;
      }
    }
  }
  .userData__common_info {
    display: flex;
    flex-flow: column wrap;
  }
}
