@import "../../../../variables";

.reposData {
  @extend %flex__column;
  width: 100%;
  .reposData__search {
    @extend %flex__100;
    margin-bottom: 20px;
    padding: 0 40px;
  }
  .reposData__List {
    @extend %flex__100;
    .reposData__item {
      @extend %flex__100;
      border: 1px solid $list__item__border_color;
      border-radius: 10px;
      background-color: $list__item__background_color;
      &:hover {
        cursor: pointer;
        background-color: $list__item__background_color__hover;
      }
      &:active {
        background-color: $list__item__background_color__active;
      }
      .reposData__link {
        @extend %flex__100;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        .reposData__item__name {
          display: flex;
          flex-wrap: wrap;
        }
        .reposData__item__info {
          @extend %flex__column;
          margin-left: 20px;
        }
      }
    }
  }
}
