%flex__column {
  display: flex;
  flex-flow: column;
  //justify-items: center;
  align-items: center;
}
%flex__100 {
  display: flex;
  width: 100%;
}

.reposData {
  @extend %flex__column;
  width: 100%;
  .reposData__search {
    @extend %flex__100;
    margin-bottom: 20px;
    padding: 0 40px;
  }
  .usersList {
    @extend %flex__100;
    .reposData__item {
      @extend %flex__100;
      border: 1px solid blue;
      border-radius: 10px;
      .reposData__link {
        @extend %flex__100;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        .reposData__name {
          display: flex;
          flex-wrap: wrap;
        }
        .reposData__link__end {
          @extend %flex__column;
          margin-left: 20px;
        }
      }
    }
  }
}
