.UsersSearcher {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 400px;
  min-width: 340px;
  margin: 50px;
  padding: 20px;
  border: 1px solid blue;
  border-radius: 10px;
  background-color: rgb(88, 252, 252);
}
