@import "../../variables";
.layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  .layout__wrapper_for_loader {
    display: block;
    width: 400px;
  }
}
